.footer {
  width: 100%;
  padding: 1.5rem 1rem;
  border-top: 1px solid #dcdcdc;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.footer-links a {
  font-size: 0.9rem;
  text-decoration: none;
  color: inherit;
}

.footer-links a:hover {
  text-decoration: underline;
}